<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/uploadFile" method="post" enctype="multipart/form-data">
        <label>FIle :</label>
        <input type="file" name="file11" required>
        <input type="submit">
        <% if (size) { %>
         <p style="color: red;"> <%- size %></p>
        <% } %>
    </form>
</body>

</html>