<header>
  <h1>موقعي البسيط</h1>
    <link rel="stylesheet" href="/style.css">
  <nav>
    <a href="/" >home</a>
    <a href="/about" >about us</a>
    <a href="/new-blog" >new blog</a>
  </nav>
</header>